p {
				color: black;
				text-align: center;
			}
			h1 {
				color: red;
				text-aligh: center;
			}
			h2 {
				color: orange;
				text-aligh: center;
			}
			h3 {
				color: green;
				text-aligh: center;
			}
			a {
				color: orange;
				text-aligh: center;
			}
